@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat:wght@500&display=swap');


*{
    box-sizing: border-box;
    margin: 1px;
    background-color: #24252A;
    border: 0px solid white;
    color: white;
}

nav{
    display: flex;
    justify-content:space-between;
    align-items:flex-start;
    padding: 10px;
    
    font-size: 24px;
    position: relative;
    background: local;
    min-height: 100px;
    width: auto;
    margin-left: 0px;    
    
    
}
hr{
    background-color: aliceblue;
    height: 1px;
}


nav div{
    position: relative;
    background-color: #24252A;
    background: local;
    
}

header{
    position: relative;
}

.background{
    background-image: url(https://raw.githubusercontent.com/Robocotik/blog_site/main/pictures/2_0508.png);
    background-size: cover;
    
}



ul li, a{
    font-weight: 500;
    font-size: 16;
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    

}




.logo{
    cursor:default;
    background: none;
    display: flex;
    background: local;
   
    overflow: hidden;

}



.nav_links {
    list-style: none;

  
}

.nav_links ul {
    background: local;
    margin-top: 20px;
    
    
}

.nav_links li {
    display: inline-block;
    padding: 0px 10px;
    
}
.nav_links li a{
    transition: all 0.3s ease 0s;
    
}


.nav_refs{
    
    background: local;
    margin-top: 0px;
    margin-left: 0px;  
    overflow: hidden; 
}

.nav_refs ul, li, a, img{
    background: local;
    top: 0px;
    
    
}
.nav_refs li{
   
    list-style: none;
    display: inline-block;
    padding: 10px;
    
}

.nav_links li a:hover {
    color:rgb(149, 221, 243);
    text-decoration: underline;
    
}





body {
    font-family: 'Montaga', serif;
    font-style:initial;
    font-size: 14px;
    padding:1px;
    margin: 2px;
    word-spacing: 1px;
    
} 

